
Options +FollowSymlinks
RewriteEngine Off
RewriteCond %{HTTP_REFERER} !^http://(www\.)?clickday/ [NC]
RewriteCond %{REQUEST_URI} !hotlink\.(gif|png|jpg|doc|xls|pdf|html|htm|xlsx|docx|js|css) [NC]
RewriteRule .*\.(gif|png|jpg|doc|xls|pdf|html|htm|xlsx|docx|js|css)$ http://clickday/denied [NC]
